body{
    width: 100%;
    height: 100svh;
    background:linear-gradient(to top right ,black,white);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.hours{
    width: 150px;
    height: 100px;
    border-radius: 10px;
    background-color: white;
    font-family: 'Times New Roman';
    font-size: 40px;
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;

}
.minutes{
    width: 150px;
    height: 100px;
    border-radius: 10px;
    background-color: white;
    font-family: 'Times New Roman';
    font-size: 40px;
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}
.seconds{
    width: 150px;
    height: 100px;
    border-radius: 10px;
    background-color: white;
    font-family: 'Times New Roman';
    font-size: 40px;
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}
.start{
    color: black;
    background-color: white;
    border-radius: 5px;
    font-size: 20px;
    position: absolute;
    top: 470px;
    left: 600px;
}
.stop{
    color: black;
    background-color: white;
    border-radius: 5px;
    font-size: 20px;
    position: absolute;
    top: 470px;
    left: 700px;
}
.reset{
    color: black;
    background-color: white;
    border-radius: 5px;
    font-size: 20px;
    position: absolute;
    top: 470px;
    left: 800px;
}