body{
    width: 100%;
    height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman';
}
.form{
    width: 600px;
    height: 100svh;
    background: linear-gradient(to top right,#7DCAC4,#13577A);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    border: 2px solid black;
}
@media (max-width: 768px) {
  .form {
    width: 80%;
    height: auto;
  }
   
    #a,#b,#c {
      width: 100%;
      height: 15px;
    }
  }
@media (max-width: 480px) {
  .regform {
    width: 100%;
    height: auto;
  }
  #a,#b,#c {
    width: 100%;
    height: 10px;
  }
}
#table{
    height: 100px;
    width: 400px;
    border: 2px solid black;
    border-collapse: collapse;
}

  