.rectangle{
    width: 200px;
    height: 300px;
    background-color:gray;
    border-radius: 20px;
    position: relative;
    left: 100px;
    background-image: linear-gradient(rgb(222, 219, 219), rgb(73, 73, 70));
    border-style: outset ;
    border-color: silver;
    border-width: 4px;
}
.rectangle1{
    width: 190px;
    height: 290px;
    border-radius: 20px;
    position: relative;
    background-image: linear-gradient(rgb(222, 219, 219), rgb(73, 73, 70));
    left: 109px;
    top: -299px;
}
.rectangle2{
    width: 170px;
    height: 268px;
    background-image: linear-gradient(rgb(222, 219, 219), rgb(73, 73, 70));
    border-radius: 20px;
    position: relative;
    font-size: 47px;
   
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    left: 114px;
    top: -584px;
    border-style: solid;
    border-color: black;
    border-width: 4px;
}
.rectangle3{
    width: 178px;
    height: 4px;
    background-color: black;
    position: relative;
    left: 114px;
    top: -802px;
}
.rectangle4{
    width: 178px;
    height: 4px;
    background-color: black;
    position: relative;
    left: 114px;
    top: -651px;
}