/* body{
    width: 100%;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    perspective: 100px;
}
.parent{
    position: absolute;
    top: 10px;
    left: 10px;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 100px;
    perspective-origin: top right;
}
.child1 {
    width: 91%;
    height: 31%;
    font-size: 20px;
    background-color: rgb(116, 160, 13);
    position: absolute;
    top: 258px;
    left: -110px;
    transform-style: preserve-3d;
    transform: rotateY(85deg);
}
.child2 {
    width: 13%;
    height: 40%;
    font-size: 20px;
    background-color: rgb(202, 124, 29);
    position: absolute;
    top: 196px;
    left: 428px;
    transform-style: preserve-3d;
    transform: rotateX(-85deg);
}
.child3 {
    width: 14%;
    height: 27%;
    font-size: 20px;
    background-color: rgb(10, 144, 185);
    position: absolute;
    top: 319px;
    left: 426px;
    transform-style: preserve-3d;
    transform: rotateX(88deg);
}
.child4 {
    width: 278%;
    height: 60%;
    font-size: 20px;
    background-color: rgb(179, 25, 176);
    position: absolute;
    top: 238px;
    left: -626px;
    transform-style: preserve-3d;
    transform: rotateY(85deg);
} */

form {
    margin: auto;
    width: min(600px, 80%);
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-image:
      url('https://images.unsplash.com/photo-1619279302118-43033660826a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

  }

  h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
  }

  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea,
  select,
  #dob {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    opacity: 0.5;
  }

  textarea {
    height: 100px;
    resize: vertical;
  }

  .checkboxes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
  }

  .checkbox {
    display: flex;
    align-items: flex-start;
    margin-right: 20px;
  }

  .checkboxes label {
    margin-right: 20px;
  }

  table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
  }

  table th,
  table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
    color: #fff;
    font-size: 18px;
  }

  .buttons {
    display: flex;
    justify-content: center;
  }

  .buttons button {
    background-color: #854d28;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    width: 150px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
  }

  .buttons button:hover {
    background-color: #6e4225;
  }