.parent{
    width: 100%;
    height: 100svh;
    background-color: black;
}
.div-6{
    width: 100%;
    height: 80svh;
    background-color: #313789;
    position: relative;
}
.ch-div{
    width: 1000px;
    height: 550px;
    background-color: white;
    position: absolute;
    top: 320px;
    left: 250px;
}
.img{
    width: 350px;
    height: 450px;
    background-color: #EDB0C0;
    background-image: url(./10.png);
    background-size: 100% 100%;
    position: absolute;
    top: 30px;
    left: 600px;
    border-radius: 6px;
}
.ch1{
    width: 500px;
    height: 130px;
    border: 2px solid #EDB0C0;
    border-radius: 25px;
    position: absolute;
    top: 30px;
    left: 30px;
}
.ch2{
    width: 500px;
    height: 130px;
    border: 2px solid #EDB0C0;
    border-radius: 25px;
    position: absolute;
    top: 190px;
    left: 30px;
}
.img1{
    width: 50px;
    height: 50px;
    font-size: 50px;
    position: absolute;
    top: 20px;
    left: 10px;
}
#a{
    font-family: 'Times New Roman';
    color: black;
    font-size: 25px;
    position: absolute;
    top: 15px;
    left: 100px;
}
#aa{
    font-family: 'Times New Roman';
    color: rgb(77, 75, 75); 
    font-size: 20px;
    position: absolute;
    top: 30px;
    left: 100px;
}
.img2{
    width: 50px;
    height: 50px;
    font-size: 50px;
    position: absolute;
    top: 30px;
    left: 10px;
}
#b{
    font-family: 'Times New Roman';
    color: black;
    font-size: 25px;
    position: absolute;
    top: 15px;
    left: 100px;
}
#bb{
    font-family: 'Times New Roman';
    color: rgb(77, 75, 75); 
    font-size: 20px;
    position: absolute;
    top: 30px;
    left: 100px;
}
.img3{
    width: 50px;
    height: 50px;
    font-size: 50px;
    position: absolute;
    top: 30px;
    left: 10px;
}
#c{
    font-family: 'Times New Roman';
    color: black;
    font-size: 25px;
    position: absolute;
    top: 15px;
    left: 100px;
}
#cc{
    font-family: 'Times New Roman';
    color: rgb(77, 75, 75); 
    font-size: 20px;
    position: absolute;
    top: 30px;
    left: 100px;
}
.ch3{
    width: 500px;
    height: 130px;
    border: 2px solid #EDB0C0;
    border-radius: 25px;
    position: absolute;
    top: 350px;
    left: 30px;
}
.div-7{
    width: 100%;
    height: 150svh;
    background-color: white;
}
.ch4{
    width: 600px;
    height: 350px;
    background-color: whitesmoke;
    background-image: url(./11.png);
    background-size: 100% 100%;
    position: absolute;
    top: 1000px;
    left: 450px;
}
.ch5{
    width: 650px;
    height: 350px;
    background-color:#EDB0C0;
    border-radius: 20px;
    position: absolute;
    top: 1300px;
    left: 425px;
}
#d{
    font-family: 'Times New Roman';
    color: black;
    font-size: 40px;
    position: absolute;
    top: 20px;
    left: 130px;
}
#dd{
    font-family: 'Times New Roman';
    color: black;
    font-size: 40px;
    position: absolute;
    top: 40px;
    left: 170px;
}
#ddd{
    font-family: 'Times New Roman';
    color: black;
    text-align: center;
    font-size: 18px;
    position: absolute;
    top: 100px;
    left: 35px;
}
.ch6{
    width: 400px;
    height: 40px;
    background-color: white;
    border-radius: 20px;
    position: absolute;
    top: 200px;
    left: 35px;
    font-family: 'Times New Roman';
    display: flex;
    align-items: center;
    justify-content: start;
    color: #313789;
}
.ch7{
    width: 120px;
    height: 40px;
    background-color:rgb(29, 29, 94);
    color: white;
    font-family: 'Times New Roman';
    border-radius: 20px;
    position: absolute;
    top: 200px;
    left: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div-8{
    width: 100%;
    height: 50svh;
    background-color: #313789;
    position: relative;
}
.ln1{
    width: 350px;
    height: 100px;
    position: absolute;
    top: 120px;
    left: 50px;
}
#e{
    font-family: 'Times New Roman';
    font-size: 20px;
    color: white;
    position: absolute;
    top: 10px;
    left: 10px;
}
#ee{
    font-family: 'Times New Roman'; 
    font-size: 15px; 
    color: white;
    position: absolute;
    top: 40px;
    left: 10px;
}
.ln2{
    width: 350px;
    height: 100px;
    position: absolute;
    top: 120px;
    left: 450px;
}
#f{
    font-family: 'Times New Roman';
    font-size: 20px;
    color: white;
    position: absolute;
    top: 10px;
    left: 10px;
}
#ff{
    font-family: 'Times New Roman'; 
    font-size: 15px; 
    color: white;
    position: absolute;
    top: 40px;
    left: 10px;
}
.ln3{
    width: 350px;
    height: 100px;
    position: absolute;
    top: 120px;
    left: 850px;
}
#g{
    font-family: 'Times New Roman';
    font-size: 20px;
    color: white;
    position: absolute;
    top: 10px;
    left: 10px;
}
#gg{
    font-family: 'Times New Roman'; 
    font-size: 15px; 
    color: white;
    position: absolute;
    top: 40px;
    left: 10px;
}
.ch8{
    width: 1400px;
    height: 1px;
    background-color: white;
    position: absolute;
    top: 250px;
    left: 50px;
}
.ch9{
    width: 150px;
    height: 50px;
    position: absolute;
    top: 270px;
    left: 1200px;
    font-size: 20px;
    color: white;
}
@media  screen and (min-width:320px) and (max-width:1023px) {
    .parent{
        width: 100%;
        height: 100svh;
        background-color: black;
    }
    .div-6{
        width: 100%;
        height: 80%;
        background-color: #313789;
        position: relative;
    }
    .ch-div{
        width: 85%;
        height: 100%;
        background-color: white;
        position: absolute;
        top: 45%;
        left: 10%;
    }
    .img{
        width: 40%;
        height: 45%;
        background-color: #EDB0C0;
        background-image: url(./10.png);
        background-size: 100% 100%;
        position: absolute;
        top: 50px;
        left: 55%;
        border-radius: 6px;
    }
    .ch1{
        width: 50%;
        height: 130px;
        border: 2px solid #EDB0C0;
        border-radius: 25px;
        position: absolute;
        top: 30px;
        left: 12px;
    }
    .img1{
        width: 50px;
        height: 50px;
        font-size: 50px;
        position: absolute;
        top: 20px;
        left: 10px;
    }
    #a{
        font-family: 'Times New Roman';
        color: black;
        font-size: 15px;
        position: absolute;
        top: 15px;
        left: 100px;
    }
    #aa{
        font-family: 'Times New Roman';
        color: rgb(77, 75, 75); 
        font-size: 12px;
        position: absolute;
        top: 30px;
        left: 100px;
    }
    .ch2{
        width: 50%;
        height: 130px;
        border: 2px solid #EDB0C0;
        border-radius: 25px;
        position: absolute;
        top: 190px;
        left: 10px;
    }
    .img2{
        width: 50px;
        height: 50px;
        font-size: 50px;
        position: absolute;
        top: 30px;
        left: 10px;
    }
    #b{
        font-family: 'Times New Roman';
        color: black;
        font-size: 15px;
        position: absolute;
        top: 15px;
        left: 100px;
    }
    #bb{
        font-family: 'Times New Roman';
        color: rgb(77, 75, 75); 
        font-size: 12px;
        position: absolute;
        top: 30px;
        left: 100px;
    }
    .ch3{
        width: 50%;
        height: 130px;
        border: 2px solid #EDB0C0;
        border-radius: 25px;
        position: absolute;
        top: 350px;
        left: 10px;
    }
    .img3{
        width: 50px;
        height: 50px;
        font-size: 50px;
        position: absolute;
        top: 30px;
        left: 10px;
    }
    #c{
        font-family: 'Times New Roman';
        color: black;
        font-size: 15px;
        position: absolute;
        top: 15px;
        left: 100px;
    }
    #cc{
        font-family: 'Times New Roman';
        color: rgb(77, 75, 75); 
        font-size: 12px;
        position: absolute;
        top: 30px;
        left: 100px;
    }
    .div-7{
        width: 100%;
        height: 150svh;
        background-color: white;
    }
    .ch4{
        width: 70%;
        height: 350px;
        background-color: whitesmoke;
        background-image: url(./11.png);
        background-size: 100% 100%;
        position: absolute;
        top: 1000px;
        left: 15%;
    }
    .ch5{
        width: 80%;
        height: 350px;
        background-color:#EDB0C0;
        border-radius: 20px;
        position: absolute;
        top: 1300px;
        left: 10%;
    }
    #d{
        font-family: 'Times New Roman';
        color: black;
        font-size: 30px;
        position: absolute;
        top: 20px;
        left: 10%;
    }
    #dd{
        font-family: 'Times New Roman';
        color: black;
        font-size: 30px;
        position: absolute;
        top: 40px;
        left: 20%;
    }
    #ddd{
        font-family: 'Times New Roman';
        color: black;
        text-align: center;
        font-size: 18px;
        position: absolute;
        top: 100px;
        left: 15%;
    }
    .ch6{
        width: 250px;
        height: 40px;
        background-color: white;
        border-radius: 20px;
        position: absolute;
        top: 200px;
        left: 10px;
        font-family: 'Times New Roman';
        display: flex;
        align-items: center;
        justify-content: start;
        color: #313789;
    }
    .ch7{
        width: 100px;
        height: 40px;
        background-color:rgb(29, 29, 94);
        color: white;
        font-family: 'Times New Roman';
        border-radius: 20px;
        position: absolute;
        top: 200px;
        left: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .div-8{
        width: 100%;
        height: 50svh;
        background-color: #313789;
        position: relative;
    }
    .ln1{
        width: 20%;
        height: 100px;
        position: absolute;
        top: 120px;
        left: 20%;
    }
    #e{
        font-family: 'Times New Roman';
        font-size: 12px;
        color: white;
        position: absolute;
        top: 10px;
        left: 3%;
    }
    #ee{
        font-family: 'Times New Roman'; 
        font-size: 10px; 
        color: white;
        position: absolute;
        top: 40px;
        left: 3%;
    }
    .ln2{
        width: 20%;
        height: 100px;
        position: absolute;
        top: 120px;
        left: 40%;
    }
    #f{
        font-family: 'Times New Roman';
        font-size: 12px;
        color: white;
        position: absolute;
        top: 10px;
        left: 10px;
    }
    #ff{
        font-family: 'Times New Roman'; 
        font-size: 10px; 
        color: white;
        position: absolute;
        top: 40px;
        left: 10px;
    }
    .ln3{
        width: 20%;
        height: 100px;
        position: absolute;
        top: 120px;
        left: 60%;
    }
    #g{
        font-family: 'Times New Roman';
        font-size: 12px;
        color: white;
        position: absolute;
        top: 10px;
        left: 10px;
    }
    #gg{
        font-family: 'Times New Roman'; 
        font-size: 10px; 
        color: white;
        position: absolute;
        top: 40px;
        left: 10px;
    }
    .ch8{
        width: 1400px;
        height: 1px;
        background-color: white;
        position: absolute;
        top: 250px;
        left: 50px;
    }
    .ch9{
        width: 50%;
        height: 50px;
        position: absolute;
        top: 270px;
        left: 70%;
        font-size: 15px;
        color: white;
    } 
}